{% extends 'librosapp/index.html' %}
{% load static %}

{% block titulo %}
Acerca de mi
{% endblock titulo %}

{% block cabecera %}
Acerca de mi
{% endblock cabecera %}

{% block contenido %}
<br>
<br>
<div class="container">
    <h2 class="text-center text-dark">Acerca de Mi</h2>
    <br>
    <div class="col">
        <div class="">
            <div class="text-center">
                <p>Mi nombre es matias, tego 15 años de experiencia en el sector de compras en un local gastronomico de cena show de tango. Y comence este viaje en el mundo de la programacion de la mano de Coder. Saludos</p>
            </div>
        </div>
    </div>
</div>
<br>
<br>
{% endblock contenido %}

{% block contact %}

{% endblock contact %}