{% extends 'librosapp/index.html' %}
{% load static %}

{% block titulo %}
Modificar Libro
{% endblock titulo %}

{% block cabecera %}
Modificar Libro
{% endblock cabecera %}

{% block contenido %}
<br>
<div >
    <form method="post" style="display: inline-block;">
        <h4><b>Datos del Libro</b></h4>
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <br>
        <button type="submit">Modificar Libro</button>
    </form>
</div><br>
{% endblock contenido %}

{% block contact %}

{% endblock contact %}